absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
charset-normalizer
click
colorama
contourpy
cycler
Deprecated
fastapi
filelock
fonttools
frozenlist
fsspec
grpcio
h11
h5py
idna
iniconfig
Jinja2
kiwisolver
limits
Markdown
MarkupSafe
matplotlib
mpmath
multidict
networkx
numpy
packaging
pandas
pillow
pluggy
propcache
protobuf
pydantic
pydantic_core
pyparsing
pytest
pytest-mock
python-dateutil
python-dotenv
pytz
PyYAML
requests
scipy
setuptools
six
slowapi
sniffio
starlette
sympy
tensorboard
tensorboard-data-server
# PyTorch is provided by the base Docker image: pytorch/pytorch:2.5.1-cuda12.4-cudnn9-runtime
# torch==2.5.1+cu124
tqdm
typing_extensions
tzdata
urllib3
uvicorn
Werkzeug
wrapt
yarl
